/app/.bundle
/app/log/*
/app/tmp/*
/app!/log/.keep
/app!/tmp/.keep
/app/tmp/pids/*
/app!/tmp/pids/
/app!/tmp/pids/.keep
/app/storage/*
/app!/storage/.keep
/app/public/assets
/app.byebug_history
/app/config/master.key
/app/public/packs
/app/public/packs-test
/app/node_modules
/app/yarn-error.log
/appyarn-debug.log*
/app.yarn-integrity
/app/.env
/app/.idea/
postgres/
