 <!-- ======= Our Team Section ======= -->
    <section id="team" class="team">
     <div class="container" data-aos="fade-up">
 
       <div class="section-title">
         <h2>Grão-Mestrado</h2>
         <p></p>
       </div>
 
       <div class="row">
 
         <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up">
           <div class="member">
             <div class="pic"><%= image_tag "luzes/Jarbas.jpg", class: "d-block w-100"%></div>
             <div class="member-info">
               <h4>Jarbas Nogueira Matias</h4>
               <span>Grão-Mestre</span>
               <div class="social">
                 <a href=""><i class="bi bi-twitter"></i></a>
                 <a href=""><i class="bi bi-facebook"></i></a>
                 <a href=""><i class="bi bi-instagram"></i></a>
               </div>
             </div>
           </div>
         </div>
 
         <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
           <div class="member">
           <div class="pic"><%= image_tag "luzes/benzao.jpg", class: "d-block w-100"%></div>
             <div class="member-info">
               <h4>Ronalde Calixto de Souza</h4>
               <span>Grão Mestre - ADJ</span>
               <div class="social">
                 <a href=""><i class="bi bi-twitter"></i></a>
                 <a href=""><i class="bi bi-facebook"></i></a>
                 <a href=""><i class="bi bi-instagram"></i></a>
               </div>
             </div>
           </div>
         </div>
 
         <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
           <div class="member">
           <div class="pic"><%= image_tag "luzes/ariosto.jpg", class: "d-block w-100"%></div>
             <div class="member-info">
               <h4>Ariosto Fernandez</h4>
                 <span>Primeiro Grande Vigilante</span>
               <div class="social">
                 <a href=""><i class="bi bi-twitter"></i></a>
                 <a href=""><i class="bi bi-facebook"></i></a>
                 <a href=""><i class="bi bi-instagram"></i></a>
               </div>
             </div>
           </div>
         </div>
 
         <div class="col-xl-3 col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
           <div class="member">
           <div class="pic"><%= image_tag "luzes/antonio.jpg", class: "d-block w-100"%></div>
             <div class="member-info">
               <h4>Antônio Libério</h4>
                 <span>Segundo Grande Vigilante</span>
               <div class="social">
                 <a href=""><i class="bi bi-twitter"></i></a>
                 <a href=""><i class="bi bi-facebook"></i></a>
                 <a href=""><i class="bi bi-instagram"></i></a>
               </div>
             </div>
           </div>
         </div>
 
       </div>
 
     </div>
    </section>