<style>
 date.format("MMM DD, YYYY - h:mma");
</style>
<body class="nav-fixed">
            <!-- Navbar Items-->
        <div id="layoutSidenav">
            <div id="layoutSidenav_content">
                <main>
                    <!-- Main page content-->
                    <div class="container-xl px-4 mt-5">
                        <!-- Custom page header alternative example-->
                        <div class="d-flex justify-content-between align-items-sm-center flex-column flex-sm-row mb-4">
                            <div class="me-4 mb-3 mb-sm-0">
                                <h1 class="mb-0">Painel Administrativo</h1>
                                <div class="small">
                                    <span class="fw-500 text-primary"><%= I18n.l(Time.now, format: "%d de %B de %Y")%></span>
                                </div>
                            </div>
                            <!-- Date range picker example-->
                            <div class="input-group input-group-joined border-0 shadow" style="width: 16.5rem">
                                <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg></span>
                                <input class="form-control ps-0 pointer" id="litepickerRangePlugin" placeholder="Select date range...">
                            </div>
                        </div>
                        <!-- Illustration dashboard card example-->
                        <div class="card card-waves mb-4 mt-5">
                            <div class="card-body p-5">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col">
                                        <h2 class="text-primary">Bem vindo ao Sistema Administrativo da Grande Loja Maçônica do Piauí</h2>
                                        <p class="text-gray-700">Sistema administrativo da Grande Loja Maçônica do Piauí, sistema em Desenvolvimento qualquer dǘvida estamos no canal de informações.</p>
                                            <%= link_to("Manual", "https://www.youtube.com/watch?v=drELYG-ODYU&list=PLBqYHsiaRiWKoMTA4H4c2Sn84qFvQRXc8", type: "button", class: "btn btn-outline-primary") %> 
                                    </div>
                                    <div class="col d-none d-lg-block mt-xxl-n4"><%= image_tag "illustrations/statistics.svg", class: "img-fluid px-xl-4 mt-xxl-n5 col d-none d-lg-block mt-xxl-n4" %></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-md-6 mb-4">
                                <!-- Dashboard info widget 1--
                                <div class="card border-start-lg border-start-primary h-100">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div class="flex-grow-1">
                                                <div class="small fw-bold text-primary mb-1">Earnings (monthly)</div>
                                                <div class="h5">$4,390</div>
                                                <div class="text-xs fw-bold text-success d-inline-flex align-items-center">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trending-up me-1"><polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline><polyline points="17 6 23 6 23 12"></polyline></svg>
                                                    12%
                                                </div>
                                            </div>
                                            <div class="ms-2"><svg class="svg-inline--fa fa-dollar-sign fa-w-9 fa-2x text-gray-200" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="dollar-sign" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 288 512" data-fa-i2svg=""><path fill="currentColor" d="M209.2 233.4l-108-31.6C88.7 198.2 80 186.5 80 173.5c0-16.3 13.2-29.5 29.5-29.5h66.3c12.2 0 24.2 3.7 34.2 10.5 6.1 4.1 14.3 3.1 19.5-2l34.8-34c7.1-6.9 6.1-18.4-1.8-24.5C238 74.8 207.4 64.1 176 64V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48h-2.5C45.8 64-5.4 118.7.5 183.6c4.2 46.1 39.4 83.6 83.8 96.6l102.5 30c12.5 3.7 21.2 15.3 21.2 28.3 0 16.3-13.2 29.5-29.5 29.5h-66.3C100 368 88 364.3 78 357.5c-6.1-4.1-14.3-3.1-19.5 2l-34.8 34c-7.1 6.9-6.1 18.4 1.8 24.5 24.5 19.2 55.1 29.9 86.5 30v48c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-48.2c46.6-.9 90.3-28.6 105.7-72.7 21.5-61.6-14.6-124.8-72.5-141.7z"></path></svg><!-- <i class="fas fa-dollar-sign fa-2x text-gray-200"></i> Font Awesome fontawesome.com --></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 mb-4">
                                <!-- Dashboard info widget 2--
                                <div class="card border-start-lg border-start-secondary h-100">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div class="flex-grow-1">
                                                <div class="small fw-bold text-secondary mb-1">Average sale price</div>
                                                <div class="h5">$27.00</div>
                                                <div class="text-xs fw-bold text-danger d-inline-flex align-items-center">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trending-down me-1"><polyline points="23 18 13.5 8.5 8.5 13.5 1 6"></polyline><polyline points="17 18 23 18 23 12"></polyline></svg>
                                                    3%
                                                </div>
                                            </div>
                                            <div class="ms-2"><svg class="svg-inline--fa fa-tag fa-w-16 fa-2x text-gray-200" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="tag" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M0 252.118V48C0 21.49 21.49 0 48 0h204.118a48 48 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882L293.823 497.941c-18.745 18.745-49.137 18.745-67.882 0L14.059 286.059A48 48 0 0 1 0 252.118zM112 64c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z"></path></svg><!-- <i class="fas fa-tag fa-2x text-gray-200"></i> Font Awesome fontawesome.com --></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 mb-4">
                                <!-- Dashboard info widget 3--
                                <div class="card border-start-lg border-start-success h-100">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div class="flex-grow-1">
                                                <div class="small fw-bold text-success mb-1">Clicks</div>
                                                <div class="h5">11,291</div>
                                                <div class="text-xs fw-bold text-success d-inline-flex align-items-center">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trending-up me-1"><polyline points="23 6 13.5 15.5 8.5 10.5 1 18"></polyline><polyline points="17 6 23 6 23 12"></polyline></svg>
                                                    12%
                                                </div>
                                            </div>
                                            <div class="ms-2"><svg class="svg-inline--fa fa-mouse-pointer fa-w-10 fa-2x text-gray-200" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="mouse-pointer" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M302.189 329.126H196.105l55.831 135.993c3.889 9.428-.555 19.999-9.444 23.999l-49.165 21.427c-9.165 4-19.443-.571-23.332-9.714l-53.053-129.136-86.664 89.138C18.729 472.71 0 463.554 0 447.977V18.299C0 1.899 19.921-6.096 30.277 5.443l284.412 292.542c11.472 11.179 3.007 31.141-12.5 31.141z"></path></svg><!-- <i class="fas fa-mouse-pointer fa-2x text-gray-200"></i> Font Awesome fontawesome.com --></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-md-6 mb-4">
                                <!-- Dashboard info widget 4--
                                <div class="card border-start-lg border-start-info h-100">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center">
                                            <div class="flex-grow-1">
                                                <div class="small fw-bold text-info mb-1">Conversion rate</div>
                                                <div class="h5">1.23%</div>
                                                <div class="text-xs fw-bold text-danger d-inline-flex align-items-center">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trending-down me-1"><polyline points="23 18 13.5 8.5 8.5 13.5 1 6"></polyline><polyline points="17 18 23 18 23 12"></polyline></svg>
                                                    1%
                                                </div>
                                            </div>
                                            <div class="ms-2"><svg class="svg-inline--fa fa-percentage fa-w-12 fa-2x text-gray-200" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="percentage" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-fa-i2svg=""><path fill="currentColor" d="M109.25 173.25c24.99-24.99 24.99-65.52 0-90.51-24.99-24.99-65.52-24.99-90.51 0-24.99 24.99-24.99 65.52 0 90.51 25 25 65.52 25 90.51 0zm256 165.49c-24.99-24.99-65.52-24.99-90.51 0-24.99 24.99-24.99 65.52 0 90.51 24.99 24.99 65.52 24.99 90.51 0 25-24.99 25-65.51 0-90.51zm-1.94-231.43l-22.62-22.62c-12.5-12.5-32.76-12.5-45.25 0L20.69 359.44c-12.5 12.5-12.5 32.76 0 45.25l22.62 22.62c12.5 12.5 32.76 12.5 45.25 0l274.75-274.75c12.5-12.49 12.5-32.75 0-45.25z"></path></svg><!-- <i class="fas fa-percentage fa-2x text-gray-200"></i> Font Awesome fontawesome.com --></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 mb-4">
                                <!-- Illustration card example--
                                <div class="card mb-4">
                                    <div class="card-body text-center p-5">
                                        <img class="img-fluid mb-5" src="assets/img/illustrations/data-report.svg">
                                        <h4>Report generation</h4>
                                        <p class="mb-4">Ready to get started? Let us know now! It's time to start building that dashboard you've been waiting to create!</p>
                                        <a class="btn btn-primary p-3" href="#!">Continue</a>
                                    </div>
                                </div>
                                <!-- Report summary card example--
                                <div class="card mb-4">
                                    <div class="card-header">Affiliate Reports</div>
                                    <div class="list-group list-group-flush small">
                                        <a class="list-group-item list-group-item-action" href="#!">
                                            <svg class="svg-inline--fa fa-dollar-sign fa-w-9 fa-fw text-blue me-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="dollar-sign" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 288 512" data-fa-i2svg=""><path fill="currentColor" d="M209.2 233.4l-108-31.6C88.7 198.2 80 186.5 80 173.5c0-16.3 13.2-29.5 29.5-29.5h66.3c12.2 0 24.2 3.7 34.2 10.5 6.1 4.1 14.3 3.1 19.5-2l34.8-34c7.1-6.9 6.1-18.4-1.8-24.5C238 74.8 207.4 64.1 176 64V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48h-2.5C45.8 64-5.4 118.7.5 183.6c4.2 46.1 39.4 83.6 83.8 96.6l102.5 30c12.5 3.7 21.2 15.3 21.2 28.3 0 16.3-13.2 29.5-29.5 29.5h-66.3C100 368 88 364.3 78 357.5c-6.1-4.1-14.3-3.1-19.5 2l-34.8 34c-7.1 6.9-6.1 18.4 1.8 24.5 24.5 19.2 55.1 29.9 86.5 30v48c0 8.8 7.2 16 16 16h32c8.8 0 16-7.2 16-16v-48.2c46.6-.9 90.3-28.6 105.7-72.7 21.5-61.6-14.6-124.8-72.5-141.7z"></path></svg><!-- <i class="fas fa-dollar-sign fa-fw text-blue me-2"></i> Font Awesome fontawesome.com --
                                            Earnings Reports
                                        </a>
                                        <a class="list-group-item list-group-item-action" href="#!">
                                            <svg class="svg-inline--fa fa-tag fa-w-16 fa-fw text-purple me-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="tag" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M0 252.118V48C0 21.49 21.49 0 48 0h204.118a48 48 0 0 1 33.941 14.059l211.882 211.882c18.745 18.745 18.745 49.137 0 67.882L293.823 497.941c-18.745 18.745-49.137 18.745-67.882 0L14.059 286.059A48 48 0 0 1 0 252.118zM112 64c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48z"></path></svg><!-- <i class="fas fa-tag fa-fw text-purple me-2"></i> Font Awesome fontawesome.com --
                                            Average Sale Price
                                        </a>
                                        <a class="list-group-item list-group-item-action" href="#!">
                                            <svg class="svg-inline--fa fa-mouse-pointer fa-w-10 fa-fw text-green me-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="mouse-pointer" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M302.189 329.126H196.105l55.831 135.993c3.889 9.428-.555 19.999-9.444 23.999l-49.165 21.427c-9.165 4-19.443-.571-23.332-9.714l-53.053-129.136-86.664 89.138C18.729 472.71 0 463.554 0 447.977V18.299C0 1.899 19.921-6.096 30.277 5.443l284.412 292.542c11.472 11.179 3.007 31.141-12.5 31.141z"></path></svg><!-- <i class="fas fa-mouse-pointer fa-fw text-green me-2"></i> Font Awesome fontawesome.com --
                                            Engagement (Clicks &amp; Impressions)
                                        </a>
                                        <a class="list-group-item list-group-item-action" href="#!">
                                            <svg class="svg-inline--fa fa-percentage fa-w-12 fa-fw text-yellow me-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="percentage" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" data-fa-i2svg=""><path fill="currentColor" d="M109.25 173.25c24.99-24.99 24.99-65.52 0-90.51-24.99-24.99-65.52-24.99-90.51 0-24.99 24.99-24.99 65.52 0 90.51 25 25 65.52 25 90.51 0zm256 165.49c-24.99-24.99-65.52-24.99-90.51 0-24.99 24.99-24.99 65.52 0 90.51 24.99 24.99 65.52 24.99 90.51 0 25-24.99 25-65.51 0-90.51zm-1.94-231.43l-22.62-22.62c-12.5-12.5-32.76-12.5-45.25 0L20.69 359.44c-12.5 12.5-12.5 32.76 0 45.25l22.62 22.62c12.5 12.5 32.76 12.5 45.25 0l274.75-274.75c12.5-12.49 12.5-32.75 0-45.25z"></path></svg><!-- <i class="fas fa-percentage fa-fw text-yellow me-2"></i> Font Awesome fontawesome.com --
                                            Conversion Rate
                                        </a>
                                        <a class="list-group-item list-group-item-action" href="#!">
                                            <svg class="svg-inline--fa fa-chart-pie fa-w-17 fa-fw text-pink me-2" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chart-pie" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 544 512" data-fa-i2svg=""><path fill="currentColor" d="M527.79 288H290.5l158.03 158.03c6.04 6.04 15.98 6.53 22.19.68 38.7-36.46 65.32-85.61 73.13-140.86 1.34-9.46-6.51-17.85-16.06-17.85zm-15.83-64.8C503.72 103.74 408.26 8.28 288.8.04 279.68-.59 272 7.1 272 16.24V240h223.77c9.14 0 16.82-7.68 16.19-16.8zM224 288V50.71c0-9.55-8.39-17.4-17.84-16.06C86.99 51.49-4.1 155.6.14 280.37 4.5 408.51 114.83 513.59 243.03 511.98c50.4-.63 96.97-16.87 135.26-44.03 7.9-5.6 8.42-17.23 1.57-24.08L224 288z"></path></svg><!-- <i class="fas fa-chart-pie fa-fw text-pink me-2"></i> Font Awesome fontawesome.com --
                                            Segments
                                        </a>
                                    </div>
                                    <div class="card-footer position-relative border-top-0">
                                        <a class="stretched-link" href="#!">
                                            <div class="text-xs d-flex align-items-center justify-content-between">
                                                View More Reports
                                                <svg class="svg-inline--fa fa-long-arrow-alt-right fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="long-arrow-alt-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z"></path></svg><!-- <i class="fas fa-long-arrow-alt-right"></i> Font Awesome fontawesome.com -->
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <!-- Progress card example--
                                <div class="card bg-primary border-0">
                                    <div class="card-body">
                                        <h5 class="text-white-50">Budget Overview</h5>
                                        <div class="mb-4">
                                            <span class="display-4 text-white">$48k</span>
                                            <span class="text-white-50">per year</span>
                                        </div>
                                        <div class="progress bg-white-25 rounded-pill" style="height: 0.5rem"><div class="progress-bar bg-white w-75 rounded-pill" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8 mb-4">
                                <!-- Area chart example--
                                <div class="card mb-4">
                                    <div class="card-header">Revenue Summary</div>
                                    <div class="card-body">
                                        <div class="chart-area"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div><canvas id="myAreaChart" width="874" height="240" style="display: block; width: 874px; height: 240px;" class="chartjs-render-monitor"></canvas></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <!-- Bar chart example--
                                        <div class="card h-100">
                                            <div class="card-header">Sales Reporting</div>
                                            <div class="card-body d-flex flex-column justify-content-center">
                                                <div class="chart-bar"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div><canvas id="myBarChart" width="402" height="240" class="chartjs-render-monitor" style="display: block; width: 402px; height: 240px;"></canvas></div>
                                            </div>
                                            <div class="card-footer position-relative">
                                                <a class="stretched-link" href="#!">
                                                    <div class="text-xs d-flex align-items-center justify-content-between">
                                                        View More Reports
                                                        <svg class="svg-inline--fa fa-long-arrow-alt-right fa-w-14" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="long-arrow-alt-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M313.941 216H12c-6.627 0-12 5.373-12 12v56c0 6.627 5.373 12 12 12h301.941v46.059c0 21.382 25.851 32.09 40.971 16.971l86.059-86.059c9.373-9.373 9.373-24.569 0-33.941l-86.059-86.059c-15.119-15.119-40.971-4.411-40.971 16.971V216z"></path></svg><!-- <i class="fas fa-long-arrow-alt-right"></i> Font Awesome fontawesome.com -->
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <!-- Pie chart example--
                                        <div class="card h-100">
                                            <div class="card-header">Traffic Sources</div>
                                            <div class="card-body">
                                                <div class="chart-pie mb-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div><canvas id="myPieChart" width="402" height="240" class="chartjs-render-monitor" style="display: block; width: 402px; height: 240px;"></canvas></div>
                                                <div class="list-group list-group-flush">
                                                    <div class="list-group-item d-flex align-items-center justify-content-between small px-0 py-2">
                                                        <div class="me-3">
                                                            <svg class="svg-inline--fa fa-circle fa-w-16 fa-sm me-1 text-blue" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></svg><!-- <i class="fas fa-circle fa-sm me-1 text-blue"></i> Font Awesome fontawesome.com -->
                                                            <!-- Direct--
                                                        </div>
                                                        <div class="fw-500 text-dark">55%</div>
                                                    </div>
                                                    <div class="list-group-item d-flex align-items-center justify-content-between small px-0 py-2">
                                                        <div class="me-3">
                                                            <svg class="svg-inline--fa fa-circle fa-w-16 fa-sm me-1 text-purple" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></svg><!-- <i class="fas fa-circle fa-sm me-1 text-purple"></i> Font Awesome fontawesome.com --
                                                            Social
                                                        </div>
                                                        <div class="fw-500 text-dark">15%</div>
                                                    </div>
                                                    <div class="list-group-item d-flex align-items-center justify-content-between small px-0 py-2">
                                                        <div class="me-3">
                                                            <svg class="svg-inline--fa fa-circle fa-w-16 fa-sm me-1 text-green" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></svg><!-- <i class="fas fa-circle fa-sm me-1 text-green"></i> Font Awesome fontawesome.com --S
                                                            Referral
                                                        </div>
                                                        <div class="fw-500 text-dark">30%</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="assets/demo/chart-pie-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js" crossorigin="anonymous"></script>
        <script src="js/litepicker.js"></script>
    

<div class="litepicker" data-plugins="ranges" data-ranges-position="left" style="display: none;"><div class="container__main"><div class="container__predefined-ranges"><button tabindex="-1" data-start="1645575589161" data-end="1645575589161">Today</button><button tabindex="-1" data-start="1645489189161" data-end="1645489189161">Yesterday</button><button tabindex="-1" data-start="1645057189161" data-end="1645575589161">Last 7 Days</button><button tabindex="-1" data-start="1643069989161" data-end="1645575589161">Last 30 Days</button><button tabindex="-1" data-start="1643761189161" data-end="1646017200000">This Month</button><button tabindex="-1" data-start="1641082789161" data-end="1643598000000">Last Month</button></div><div class="container__months columns-2"><div class="month-item"><div class="month-item-header"><button type="button" class="button-previous-month"><svg width="11" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M7.919 0l2.748 2.667L5.333 8l5.334 5.333L7.919 16 0 8z" fill-rule="nonzero"></path></svg></button><div><strong class="month-item-name">February</strong><span class="month-item-year">2022</span></div><button type="button" class="button-next-month"><svg width="11" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M2.748 16L0 13.333 5.333 8 0 2.667 2.748 0l7.919 8z" fill-rule="nonzero"></path></svg></button></div><div class="month-item-weekdays-row"><div title="Monday">Mon</div><div title="Tuesday">Tue</div><div title="Wednesday">Wed</div><div title="Thursday">Thu</div><div title="Friday">Fri</div><div title="Saturday">Sat</div><div title="Sunday">Sun</div></div><div class="container__days"><div></div><div class="day-item" data-time="1643684400000" tabindex="0">1</div><div class="day-item" data-time="1643770800000" tabindex="0">2</div><div class="day-item" data-time="1643857200000" tabindex="0">3</div><div class="day-item" data-time="1643943600000" tabindex="0">4</div><div class="day-item" data-time="1644030000000" tabindex="0">5</div><div class="day-item" data-time="1644116400000" tabindex="0">6</div><div class="day-item" data-time="1644202800000" tabindex="0">7</div><div class="day-item" data-time="1644289200000" tabindex="0">8</div><div class="day-item" data-time="1644375600000" tabindex="0">9</div><div class="day-item" data-time="1644462000000" tabindex="0">10</div><div class="day-item" data-time="1644548400000" tabindex="0">11</div><div class="day-item" data-time="1644634800000" tabindex="0">12</div><div class="day-item" data-time="1644721200000" tabindex="0">13</div><div class="day-item" data-time="1644807600000" tabindex="0">14</div><div class="day-item" data-time="1644894000000" tabindex="0">15</div><div class="day-item" data-time="1644980400000" tabindex="0">16</div><div class="day-item" data-time="1645066800000" tabindex="0">17</div><div class="day-item" data-time="1645153200000" tabindex="0">18</div><div class="day-item" data-time="1645239600000" tabindex="0">19</div><div class="day-item" data-time="1645326000000" tabindex="0">20</div><div class="day-item" data-time="1645412400000" tabindex="0">21</div><div class="day-item is-today is-start-date is-end-date" data-time="1645498800000" tabindex="0">22</div><div class="day-item" data-time="1645585200000" tabindex="0">23</div><div class="day-item" data-time="1645671600000" tabindex="0">24</div><div class="day-item" data-time="1645758000000" tabindex="0">25</div><div class="day-item" data-time="1645844400000" tabindex="0">26</div><div class="day-item" data-time="1645930800000" tabindex="0">27</div><div class="day-item" data-time="1646017200000" tabindex="0">28</div></div></div><div class="month-item"><div class="month-item-header"><button type="button" class="button-previous-month"><svg width="11" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M7.919 0l2.748 2.667L5.333 8l5.334 5.333L7.919 16 0 8z" fill-rule="nonzero"></path></svg></button><div><strong class="month-item-name">March</strong><span class="month-item-year">2022</span></div><button type="button" class="button-next-month"><svg width="11" height="16" xmlns="http://www.w3.org/2000/svg"><path d="M2.748 16L0 13.333 5.333 8 0 2.667 2.748 0l7.919 8z" fill-rule="nonzero"></path></svg></button></div><div class="month-item-weekdays-row"><div title="Monday">Mon</div><div title="Tuesday">Tue</div><div title="Wednesday">Wed</div><div title="Thursday">Thu</div><div title="Friday">Fri</div><div title="Saturday">Sat</div><div title="Sunday">Sun</div></div><div class="container__days"><div></div><div class="day-item" data-time="1646103600000" tabindex="0">1</div><div class="day-item" data-time="1646190000000" tabindex="0">2</div><div class="day-item" data-time="1646276400000" tabindex="0">3</div><div class="day-item" data-time="1646362800000" tabindex="0">4</div><div class="day-item" data-time="1646449200000" tabindex="0">5</div><div class="day-item" data-time="1646535600000" tabindex="0">6</div><div class="day-item" data-time="1646622000000" tabindex="0">7</div><div class="day-item" data-time="1646708400000" tabindex="0">8</div><div class="day-item" data-time="1646794800000" tabindex="0">9</div><div class="day-item" data-time="1646881200000" tabindex="0">10</div><div class="day-item" data-time="1646967600000" tabindex="0">11</div><div class="day-item" data-time="1647054000000" tabindex="0">12</div><div class="day-item" data-time="1647140400000" tabindex="0">13</div><div class="day-item" data-time="1647226800000" tabindex="0">14</div><div class="day-item" data-time="1647313200000" tabindex="0">15</div><div class="day-item" data-time="1647399600000" tabindex="0">16</div><div class="day-item" data-time="1647486000000" tabindex="0">17</div><div class="day-item" data-time="1647572400000" tabindex="0">18</div><div class="day-item" data-time="1647658800000" tabindex="0">19</div><div class="day-item" data-time="1647745200000" tabindex="0">20</div><div class="day-item" data-time="1647831600000" tabindex="0">21</div><div class="day-item" data-time="1647918000000" tabindex="0">22</div><div class="day-item" data-time="1648004400000" tabindex="0">23</div><div class="day-item" data-time="1648090800000" tabindex="0">24</div><div class="day-item" data-time="1648177200000" tabindex="0">25</div><div class="day-item" data-time="1648263600000" tabindex="0">26</div><div class="day-item" data-time="1648350000000" tabindex="0">27</div><div class="day-item" data-time="1648436400000" tabindex="0">28</div><div class="day-item" data-time="1648522800000" tabindex="0">29</div><div class="day-item" data-time="1648609200000" tabindex="0">30</div><div class="day-item" data-time="1648695600000" tabindex="0">31</div></div></div></div></div><div class="container__tooltip"></div></div></body>