</br></br>
<section id="portfolio" class="portfolio section-bg">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <h1 class="title is-1">Nova Publicação</h1>

<%= render 'form', site_news_index_path: @site_news %>

  </div>
</section>
